<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uwoRidesharePrototype.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
				<key>dateExpires</key>
				<string>2018-08-19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlgoliaSearch.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ChameleonFramework.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GRPCClient.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>InstantSearchCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ProtoRPC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxLibrary.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5536999FE9D2AC6E0C82ABCB805AE572097EFC69</string>
						<key>dateExpires</key>
						<string>2018-08-19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B5TBSUDAA5</string>
						<key>name</key>
						<string>Tristan  Wolf</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B5TBSUDAA5.com.tristanwolf.uwoRidesharePrototype</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>B5TBSUDAA5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>B5TBSUDAA5.com.tristanwolf.uwoRidesharePrototype</string>
				</array>
			</dict>
			<key>name</key>
			<string>uwoRidesharePrototype.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>31d94da4-0adb-437f-b422-90fc9de72541</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.tristanwolf.uwoRidesharePrototype</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B5TBSUDAA5</string>
				<key>name</key>
				<string>Tristan  Wolf</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
